<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartHome_MVC_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmartHome_MVC.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
               @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartHome_MVC</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard"> 
                                    <img src="@Url.Content("~/Images/dashboard.png")" width="30" height="30" />
                                    Dashboard </a>
                        </li>
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="Rooms"> 
                                    <img src="@Url.Content("~/Images/rooms.png")" width="30" height="30" />
                                    Rooms </a>
                        </li>
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Devices" asp-action="Devices"> 
                                    <img src="@Url.Content("~/Images/devices.png")" width="30" height="30" />
                                    Devices </a>
                        </li>
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Members"> 
                                    <img src="@Url.Content("~/Images/members.png")" width="30" height="30" />
                                    Members </a>
                        </li>
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="Security"> 
                                    <img src="@Url.Content("~/Images/security.png")" width="30" height="30" />
                                    Security </a>
                        </li>
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Trends" asp-action="Trends"> 
                                    <img src="@Url.Content("~/Images/trends.png")" width="30" height="30" />
                                    Trends </a>
                        </li>
                        <li class="nav-item">                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Settings"> 
                                    <img src="@Url.Content("~/Images/settings.png")" width="30" height="30" />
                                    Settings </a>
                        </li>
                         

                    </ul>
                    
                    @* Display current time*@
                         <a style="font-size: 20px" class="nav-link text-dark" <span id="currentTime"></span> <a/>
 
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Smart Home Application by Pietrucha - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

