
@model DevicesViewModel 

@{
    ViewData["Title"] = "Devices";
}


<div class="text-center">
    <h1 class="display-4">Devices available</h1>

</div>

<div>


<img src="@Url.Content("~/Images/arduino_logo.png")" width="10%" height="10%" />
<p>

</p>



    <label for="portCOM">Choose port:</label>
    <select id="portCOM" onchange="sendSelectedPortCOM()">
        @foreach (var port in Model.listPortCOMS)
        {
            <option value="@port">@port</option>
        }
    </select>
   
    <br /><br />

      <br /><br />
      <br /><br />


   <p><b>Current Values on Arduino:</b></p>
<p>Temperature: <span id="temperature"></span></p>
<p>Button 1: <span id="button1"></span></p>
<p>Button 2: <span id="button2"></span></p>
<p>Value Analog: <span id="analog"></span></p>
 



</div>



<!-- Code JavaScript -->

<script>
    setInterval(function () {
        $.ajax({
            url: '@Url.Action("GetCurrentValues", "Home")',
            type: 'GET',
            success: function (data) {
                $('#temperature').text(data.temperature || '');
                $('#button1').text(data.button1 || '0');
                $('#button2').text(data.button2 || '0');
                $('#analog').text(data.analog || '');
            },
            error: function () {
                // Handle error
            }
        });
    }, 1000);


    // Function for sending the selected Port to the controller
function sendSelectedPortCOM() {
    var selectedPortCOM = $('#portCOM').val();

    $.ajax({
        url: '@Url.Action("SetSelectedPortCOM", "Devices")',
        type: 'POST',
        data: {
            selectedPortCOM: selectedPortCOM
        },
        success: function () {
            // Success service
        },
        error: function () {
            // Error service
        }
    });
}

</script>