

@{
    ViewData["Title"] = "Devices";
}


<div class="text-center">
    <h1 class="display-4">Devices available</h1>

</div>

<div>


<img src="@Url.Content("~/Images/arduino_logo.png")" width="10%" height="10%" />
<p>

</p>


@model DevicesViewModel 
@using (Html.BeginForm("Devices", "Home", FormMethod.Post))
{
    <label for="portCOM">Choose port COM:</label>
    <select name="viewPortCOMS.portCOM" id="portCOM">
        @foreach (var port in Model.viewPortCOMS.AvailablePorts)
        {
            <option value="@port">@port</option>
        }
    </select>

    <input type="submit" value="Send" />

    <br /><br />

    <p>Selected port: @Model.viewPortCOMS.portCOM</p>

   
        <br /><br />
        <p><b>Current Values on Arduino:</b></p>
        <p>Temperature: @(Model.viewReadValues.Temperature == null ? "" : Model.viewReadValues.Temperature)</p>
        <p>Button 1: @(Model.viewReadValues.Button1 == null ? "" : Model.viewReadValues.Button1)</p>
    <p>Button 2: @(Model.viewReadValues.Button2 == null ? "" : Model.viewReadValues.Button2)</p>
    <p>Value Analog: @(Model.viewReadValues.Analog == null ? "" : Model.viewReadValues.Analog)</p>
 
}


</div>

